Repository DanTahir/TexasHoldEm667: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc, eslint

prettier:
  run: npx prettier -w {staged_files}

tsc:
  run: npx tsc --noEmit

eslint:
  run: npx eslint {staged_files} --no-warn-ignored

fix(game): let join button position decide player order
  backend/routes/game.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/events/games.ts
Due: prettier, tsc, eslint

feat(game): make initial stake the buy-in from the game
  backend/routes/game.ts
  frontend/events/games.ts
Due: prettier, tsc, eslint

refactor: use signale more, remove console.log usage
  backend/db/dao/PlayerDao.ts
  backend/middleware/timestamp.ts
  backend/routes/game.ts
  backend/server.ts
  esbuild.mjs
Due: prettier, tsc, eslint

fix: use .item() instead of array indexing for seats list
  frontend/messages/playerJoin.ts
Due: prettier, tsc, eslint

fix: imagine knowing how to use selectors
  frontend/events/games.ts
Due: prettier, tsc, eslint

feat(game): add stake to username on button
  backend/routes/game.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/messages/playerJoin.ts
Due: prettier, tsc, eslint

feat(nix): add ngrok to packages
  flake.nix
Due: none

feat: i hate css
  frontend/events/games.ts
Due: prettier, tsc, eslint

feat: hook up join game button (#26)
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
  backend/db/dao/UserDao.ts
  backend/middleware/timestamp.ts
  backend/routes/chat.ts
  backend/routes/game.ts
  backend/server.ts
  backend/views/game-lobby/GameLobby.ejs
  backend/views/partials/Button.ejs
  esbuild.mjs
  frontend/events/games.ts
  frontend/events/index.ts
  frontend/messages/index.ts
  frontend/messages/playerJoin.ts
Due: prettier, tsc, eslint

fix: Username text going off button when it was too long, now adjusts based on content
  backend/views/partials/Button.ejs
  frontend/styles/poker-table.css
Due: prettier

feat: Add card-icon (card suit) templating
  backend/views/partials/PokerCard.ejs
  frontend/styles/poker-card.css
Due: prettier

createDeck and deleteDeck working
  backend/db/dao/CardDao.ts
  backend/routes/game.ts
Due: prettier, tsc, eslint

protected against sql injection
  backend/db/dao/CardDao.ts
Due: prettier, tsc, eslint

feat: Finish Poker Card Visible CSS
  backend/views/partials/PokerCard.ejs
  frontend/styles/poker-card.css
Due: prettier

feat: Finish hidden poker card CSS
  backend/views/partials/PokerCard.ejs
  frontend/styles/poker-card.css
Due: prettier

feat: Add CSS for poker cards on the middle of the table
  backend/views/game-lobby/GameLobby.ejs
  backend/views/partials/PokerCard.ejs
  frontend/styles/poker-card.css
  frontend/styles/poker-table.css
Due: prettier

game quit working except it doesn't reactivate the join buttons
  backend/routes/game.ts
  frontend/events/games.ts
  frontend/events/index.ts
  frontend/events/quitGames.ts
  frontend/messages/index.ts
  frontend/messages/playerQuit.ts
Due: prettier, tsc, eslint

resolved the join button issue in an ugly way, hoping someone has a better fix, still getting the quit button discoloration issue
  frontend/messages/playerJoin.ts
  frontend/messages/playerQuit.ts
Due: prettier, tsc, eslint

resolved the quit button discoloration issue
  frontend/events/quitGames.ts
Due: prettier, tsc, eslint

added a check for whether the quitting player is the dealer or the current player, if they are I change them to the next player in the play order.
  backend/db/dao/PlayerDao.ts
  backend/routes/game.ts
Due: prettier, tsc, eslint

fixed to avoid infinite loop on last player quitting
  backend/routes/game.ts
Due: prettier, tsc, eslint

Update README.md
  README.md
Due: prettier

feat: Finish static page for cards being dealt in hand and table
  backend/views/game-lobby/GameLobby.ejs
  backend/views/partials/PokerCard.ejs
  frontend/styles/poker-card.css
  frontend/styles/poker-table.css
Due: prettier

fix: Remove redundant comment
  frontend/styles/poker-table.css
Due: prettier

feat: Add 11-14 value rendering support for poker card
  backend/views/game-lobby/GameLobby.ejs
  backend/views/partials/PokerCard.ejs
Due: prettier

addressed anthony's comments, changed player to const and moved everything into the try block, and deleted a couple of console.logs
  backend/routes/game.ts
  frontend/messages/playerJoin.ts
  frontend/messages/playerQuit.ts
Due: prettier, tsc, eslint

used signale instead of console.error and deleted some unnecessary functions from CardDao
  backend/db/dao/CardDao.ts
Due: prettier, tsc, eslint

added await to deleteDeck and createDeck
  backend/routes/game.ts
Due: prettier, tsc, eslint

fix: Remove INFO comment
  backend/views/partials/PokerCard.ejs
Due: prettier

should have working dummystart-nextPlayer-fold loop
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
  backend/routes/game.ts
  backend/server.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/messages/index.ts
  frontend/messages/nextPlayerActive.ts
  frontend/messages/nextPlayerAnnounce.ts
  frontend/messages/playerFold.ts
  migrations/1715103412001_add-turns-counter.ts
Due: prettier, tsc, eslint

fixed some showstopping bugs
  backend/server.ts
  frontend/events/chatMessages.ts
  frontend/messages/index.ts
  frontend/messages/nextPlayerActive.ts
Due: prettier, tsc, eslint

working fold/nextplayer, needs to make status changes permanent on template
  backend/routes/game.ts
Due: prettier, tsc, eslint

you can now reload the page if you're the current player and your fold button still works
  backend/routes/game.ts
  frontend/events/index.ts
  frontend/events/loadCurrentPlayer.ts
  frontend/messages/nextPlayerActive.ts
  frontend/messages/playerFold.ts
Due: prettier, tsc, eslint

fixed startNextRound check
  backend/db/dao/PlayerDao.ts
  backend/routes/game.ts
Due: prettier, tsc, eslint

working call/check
  backend/db/dao/PlayerDao.ts
  backend/routes/game.ts
  frontend/messages/index.ts
  frontend/messages/nextPlayerActive.ts
  frontend/messages/playerFold.ts
  frontend/messages/playerFoldRaiseCall.ts
Due: prettier, tsc, eslint

working raise
  backend/routes/game.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/messages/nextPlayerActive.ts
Due: prettier, tsc, eslint

feat: add a mock start button based on # of players
  backend/routes/game.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/events/games.ts
  frontend/messages/playerJoin.ts
  frontend/styles/poker-table.css
Due: prettier, tsc, eslint

feat: add a start game endpoint, refactor some dao stuff
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/UserDao.ts
  backend/routes/game.ts
  frontend/events/games.ts
Due: prettier, tsc, eslint

feat: set limit to 4 players, correct blind orders
  backend/routes/game.ts
  backend/views/game-lobby/GameLobby.ejs
  frontend/events/games.ts
  frontend/messages/playerJoin.ts
Due: prettier, tsc, eslint

fixed create and login bugs
  backend/middleware/session-locals-typedBody.ts
  backend/routes/game.ts
  backend/server.ts
  frontend/events/loadCurrentPlayer.ts
  frontend/messages/playerJoin.ts
Due: prettier, tsc, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,md,ejs}
  tsc: any of: *.ts
  eslint: any of: *.{js,ts}
