Repository DanTahir/TexasHoldEm667: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc, eslint

prettier:
  run: npx prettier -w {staged_files}

tsc:
  run: npx tsc --noEmit

eslint:
  run: npx eslint {staged_files} --no-warn-ignored

feat: Integrate Chat box
  backend/views/chatbox.ejs
  backend/views/game-lobby/game-lobby.ejs
  frontend/styles/poker-table.css
Due: prettier

functional chat on the landing page
  backend/routes/chat.ts
  backend/views/chatbox.ejs
  frontend/chat/index.ts
Due: prettier, tsc, eslint

fix: CSS styling for poker table
  frontend/styles/poker-table.css
Due: prettier

fix: Redo our chat component integration
  backend/views/game-lobby/GameLobby.ejs
Due: prettier

fix: Fix chat component in game lobby
  backend/views/game-lobby/GameLobby.ejs
Due: prettier

fixed broken paths
  backend/views/game-lobby/GameLobby.ejs
Due: prettier

fix: fix interface types and return type of create fn's
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
Due: prettier, tsc, eslint

chore: Add ability to skip over authentication middleware if NODE_ENV=="api_development"
  backend/middleware/authenticated.ts
Due: prettier, tsc, eslint

feat: Add POST /game/create API route
  backend/routes/game.ts
Due: prettier, tsc, eslint

chore: Add logical OR for api_development working with dev environment
  backend/server.ts
Due: prettier, tsc, eslint

feat: Add CreateRequestBody type interface
  backend/types.ts
Due: prettier, tsc, eslint

chore: Add dynamic grabbing of NODE_ENV, instead of hard-coding a value
  package.json
Due: none

fix: broken paths in GameLobby partial
  backend/views/game-lobby/GameLobby.ejs
Due: prettier

event.key === 'Enter' instead of event.keydown === 13
  frontend/chat/index.ts
Due: prettier, tsc, eslint

event: KeyboardEvent
  frontend/chat/index.ts
Due: prettier, tsc, eslint

removed console.logs from chat.ts
  backend/routes/chat.ts
Due: prettier, tsc, eslint

removed timestamp
  backend/routes/chat.ts
  frontend/chat/index.ts
Due: prettier, tsc, eslint

removed console.logs from frontend/chat/index.ts
  frontend/chat/index.ts
Due: prettier, tsc, eslint

seem to have fixed a bug on the home page
  backend/views/home/GameRow.ejs
  backend/views/partials/Chat.ejs
Due: prettier

fixed bug in fix
  backend/views/home/GameRow.ejs
Due: prettier

added a better chat placeholder message
  backend/views/partials/Chat.ejs
Due: prettier

fixed event.target.value TS error
  frontend/chat/index.ts
Due: prettier, tsc, eslint

fixed addEventListener and event.key ts errors
  frontend/chat/index.ts
Due: prettier, tsc, eslint

fixed value set TS error
  frontend/chat/index.ts
Due: prettier, tsc, eslint

fixed chatsocket queryselector TS errors
  frontend/chat/index.ts
Due: prettier, tsc, eslint

fixed chatWindow ts error
  frontend/chat/index.ts
Due: prettier, tsc, eslint

got rid of session error the dirty way
  backend/routes/chat.ts
  backend/server.ts
Due: prettier, tsc, eslint

fix: updated includes to represent file renames for the components
  backend/views/game-lobby/GameLobby.ejs
Due: prettier

fix: Update responsiveness of game lobby
  frontend/styles/poker-table.css
Due: prettier

ran patch
  a.patch
  backend/server.ts
  frontend/chat/index.ts
  index.d.ts
Due: prettier, tsc, eslint

deleted patch file
  a.patch
Due: none

feat: POST game/create route done
  backend/middleware/game-validation.ts
  backend/routes/game.ts
Due: prettier, tsc, eslint

fix: Adjust .env.templat to reflect NODE_ENV change
  .env.template
Due: none

fix: Address NODE_ENV issue, now using SKIP_AUTH when wanting to skip over auth for testing purposes
  backend/middleware/authenticated.ts
  backend/server.ts
Due: prettier, tsc, eslint

fix: Address all PR changes
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
  backend/middleware/validate-game-exists.ts
  backend/routes/game.ts
  backend/types.ts
Due: prettier, tsc, eslint

fix: Add SKIP_AUTH to template
  .env.template
Due: none

Revert "deleted patch file"
  a.patch
Due: none

Revert "ran patch"
  a.patch
  backend/server.ts
  frontend/chat/index.ts
  index.d.ts
Due: prettier, tsc, eslint

Revert "Feature/socket chat"
  backend/routes/chat.ts
  backend/routes/index.ts
  backend/server.ts
  backend/views/home/Home.ejs
  backend/views/partials/Chat.ejs
  esbuild.mjs
  frontend/chat/index.ts
  index.d.ts
  package-lock.json
  package.json
Due: prettier, tsc, eslint

fixed chat bug getting weird eslint error
  backend/routes/chat.ts
  frontend/chat/index.ts
Due: prettier, tsc, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,md,ejs}
  tsc: any of: *.ts
  eslint: any of: *.{js,ts}
