Repository DanTahir/TexasHoldEm667: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, tsc, eslint

prettier:
  run: npx prettier -w {staged_files}

tsc:
  run: npx tsc --noEmit

eslint:
  run: npx eslint {staged_files} --no-warn-ignored

added dot-env and modified start:dev
  package-lock.json
  package.json
Due: none

created lobby interation functions using similar format to the lectures
  backend/db/index.ts
  backend/db/lobbies.ts
Due: prettier, tsc, eslint

added queries for players
  backend/db/index.ts
  backend/db/players.ts
Due: prettier, tsc, eslint

added query for getting recent games
  backend/db/lobbies.ts
Due: prettier, tsc, eslint

added card queries
  backend/db/cards.ts
  backend/db/index.ts
Due: prettier, tsc, eslint

fixed formatting and added github name
  README.md
Due: prettier

fixed more db calls
  backend/db/dao/CardDao.ts
Due: prettier, tsc, eslint

initial refactoring
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
Due: prettier, tsc, eslint

removed old files
  backend/db/cards.ts
  backend/db/index.ts
  backend/db/lobbies.ts
  backend/db/players.ts
Due: prettier, tsc, eslint

feat: removal of superfluous returns and declarations
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
Due: prettier, tsc, eslint

fixed db calls
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
Due: prettier, tsc, eslint

refactor: conflicting package files removed
  package-lock.json
  package.json
Due: none

docs: add varun's github username to readme
  README.md
Due: prettier

chore: some miscallaneous DX improvements (CSC-26, CSC-19) (#10)
  backend/routes/root.ts
Due: prettier, tsc, eslint

chatbox component and test page
  backend/routes/root.ts
  backend/views/chatbox.ejs
  backend/views/chatboxtest.ejs
Due: prettier, tsc, eslint

fix: use correct module resolution strategy
  tsconfig.json
Due: none

fix: errors
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
  tsconfig.json
Due: prettier, tsc, eslint

fix: I dunno
  package-lock.json
Due: none

fix: un-modify chatbox code lol
  backend/views/chatbox.ejs
  backend/views/chatboxtest.ejs
Due: prettier

fix(lefthook): git add prettier files
  lefthook.yml
Due: none

fix: copy files over from frontend/styles
  esbuild.mjs
  package-lock.json
  package.json
Due: none

Feature/game lobby template (#12)
  backend/db/dao/CardDao.ts
  backend/db/dao/GameLobbyDao.ts
  backend/db/dao/PlayerDao.ts
  backend/routes/game.ts
  backend/routes/index.ts
  backend/routes/root.ts
  backend/server.ts
  backend/views/chatbox.ejs
  backend/views/chatboxtest.ejs
  backend/views/game-lobby/game-lobby.ejs
  backend/views/game-lobby/poker-table.ejs
  backend/views/partials/CustomButton.ejs
  frontend/styles/poker-table.css
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier, tsc, eslint

feat: initial setup of landing page template
  backend/views/landing.ejs
Due: prettier

refactor: main.cc usage
  backend/views/landing.ejs
Due: prettier

fix: formatting
  backend/views/landing.ejs
Due: prettier

feat: landing page initial design
  backend/routes/root.ts
  backend/views/chatbox.ejs
  backend/views/landing.ejs
  backend/views/partials/GameJoin.ejs
  package-lock.json
  package.json
Due: prettier, tsc, eslint

feat: login/register pages (CSC-20, CSC-24) (#13)
  .env.template
  backend/db/dao/UserDao.ts
  backend/middleware/authenticated.ts
  backend/routes/auth.ts
  backend/routes/home.ts
  backend/routes/index.ts
  backend/routes/root.ts
  backend/routes/test.ts
  backend/server.ts
  backend/types.ts
  backend/views/auth/login.ejs
  backend/views/auth/register.ejs
  backend/views/game-lobby/poker-table.ejs
  backend/views/home.ejs
  backend/views/partials/CustomButton.ejs
  backend/views/root.ejs
  migrations/1713510170011_use-text-for-pw-hash.ts
  package-lock.json
  package.json
Due: prettier, tsc, eslint

didn't work until I reinstalled esbuild
  package-lock.json
Due: none

fixed the line split
  backend/views/landing.ejs
Due: prettier

fix(style): remove prettier-plugin-ejs (broken formatting)
  .prettierignore
  lefthook.yml
  package-lock.json
  package.json
Due: none

added some middleware that gets us a user object with the username and id and email and probably hashed password
  backend/middleware/session-locals.ts
  backend/routes/root.ts
  backend/server.ts
  backend/views/home.ejs
Due: prettier, tsc, eslint

Feature/landing page (#14)
  backend/routes/root.ts
  backend/views/chatbox.ejs
  backend/views/home.ejs
  backend/views/partials/CustomButton.ejs
  backend/views/partials/GameJoin.ejs
  frontend/styles/main.css
  package-lock.json
  package.json
Due: prettier, tsc, eslint

added . to logout link so it logs out
  backend/views/home.ejs
Due: prettier

working up to post
  backend/routes/chat.ts
  backend/routes/index.ts
  backend/routes/root.ts
  backend/server.ts
  backend/views/home.ejs
  esbuild.mjs
  frontend/chat/index.ts
  package-lock.json
  package.json
Due: prettier, tsc, eslint

fix: CSS units now based on vh/vw
  backend/views/game-lobby/game-lobby.ejs
  frontend/styles/poker-table.css
Due: prettier

feat: NPM Run dev now runs migrate script every time it's ran as a command
  package.json
Due: none

refactor: miscallaneous improvements (#16)
  backend/middleware/authenticated.ts
  backend/routes/auth.ts
  backend/routes/game.ts
  backend/routes/home.ts
  backend/routes/root.ts
  backend/views/auth/Login.ejs
  backend/views/auth/Register.ejs
  backend/views/chatboxtest.ejs
  backend/views/game-lobby/GameLobby.ejs
  backend/views/game-lobby/PokerTable.ejs
  backend/views/home.ejs
  backend/views/home/GameRow.ejs
  backend/views/home/Home.ejs
  backend/views/index.ts
  backend/views/partials/Button.ejs
  backend/views/partials/Chat.ejs
Due: prettier, tsc, eslint

trying to bugfix fetch error
  backend/routes/chat.ts
  backend/server.ts
  frontend/chat/index.ts
  package-lock.json
  package.json
Due: prettier, tsc, eslint

Path conditions:
  prettier: any of: *.{js,ts,css,md,ejs}
  tsc: any of: *.ts
  eslint: any of: *.{js,ts}
